h1 {
    margin-bottom: 20px;
    color: #222;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 85%;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

thead {
    background: darkcyan;
    color: #fff;
    text-align: center;
}

th, td {
    padding: 14px 18px;
    text-align: center;
    font-size: 15px;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

tbody tr:hover {
    background: #eef6ff;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    margin: 2px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.btn-update { background: #28a745; }
.btn-delete { background: #dc3545; }
.btn-trash  { background: #ff9800; }
.btn-create { background: #007bff; }
.btn-bin    { background: #6c757d; }

.btn-create:hover { background: #007bff; color: white}
.btn-bin:hover    { background: #6c757d; color: white}
.btn-update:hover  { background: #28a745; color: white}
.btn-delete:hover  { background: #dc3545; color: white}
.btn-trash:hover   { background: #ff9800; color: white}



h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #ffd369;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}

.login-box {
  background: rgba(0, 0, 0, 0.45);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.login-box input {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 999px;
  outline: none;
  background: rgba(255, 255, 255, 0.85)
}

.login-box input[type="submit"] {
  width: 325px;
  background: #ff9800;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 999px;
  transition: 0.3s;
}

.login-box input[type="submit"]:hover {
  background: #e68900;
}

.characters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.characters-header h1 {
    color: yellow;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
    margin: 0;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-form .form-control {
    width: 200px;
}